<h1>Profile</h1>
<div class="row center-xs middle-xs">
  <div class="col-xs-8">
    <div class="box">
      <mat-card class="Profile">
        <div class="Profile__picture">
          <img class="Profile__image" src="https://www.cccd.edu/_assets/images/Departments/NoProfile.png" alt="Profile picture">
        </div>
        <div class="Profile__info">
          <h1>Dr. {{doctor.nombres | titlecase}} {{doctor.apellidos | titlecase}}</h1>
          <div class="Profile__info--work">
            <h3>Work</h3>
            <p>Santander Hospital</p>
            <i>
              <h5>{{consultingRoom.id}} | {{consultingRoom.nombre | uppercase}}</h5>
            </i>
          </div>
          <div class="Profile__info--speciality">
            <h3>Specialties</h3>
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <div class="list">
                <mat-chip class="example-box" *ngFor="let specialty of specialties" key={{specialty.id}}>
                  {{specialty.nombre}}
                </mat-chip>
              </div>
            </mat-chip-list>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
