/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack {
  border: 1.5px solid transparent;

  &--success {
    border-color: #41b40f;
    color: #41b40f;
    background: rgba(65, 180, 15, 0.169);
  }

  &--error {
    border-color: #ff3333;
    color: #ff3333;
    background: rgba(255, 51, 51, 0.169);
  }
}
